
body {
    font-family: Helvetica, Arial, sans-serif;
}

header{
    position: relative;
}

.fs-small{
    font-size: small;
}

.wall_header {
    width: 100%;
    height: 10vh;
    background-color: #009688;
}

.wall{
    background-color: #DADBD3;
    width: 100%;
    height: 90vh;
}

.main_container{
    width: 80vw;
    height: 700px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.chat_list{
    width: 30%;
    height: 900px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;   
}

.chat_view{
    width: 70%;
    height: 900px;
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid lightgray;
}

.user_head, .client_head{
    width: 100%;
    height: 5vh;
    background-color: #EAEAEA;
}

.users_image {
    width: 30px;
    height: auto;
}

.users_image img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.link_icon{
    padding: .5rem;
    color: #B1B1B1;
}

.link_icon:hover{
    padding: .5rem;
    color: #009688;
}


.notifications_icon{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #8EDAFC;
    padding: 0.7rem;
    text-align: center;
}


.notifications_banner{
    width: 100%;
    height: 8vh;
    background-color: #8EDAFC;

}