
body {
    font-family: Helvetica, Arial, sans-serif;
}

.fs_small{
    font-size: small;
}

.fs_xxsmall{
    font-size: xx-small;
}

.p_5{
    padding: .5rem;
}

.wall_header {
    width: 100%;
    height: 10vh;
    background-color: #009688;
}

.wall{
    background-color: #DADBD3;
    width: 100%;
    height: 90vh;
}

.main_container{
    width: 80vw;
    height: 700px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.chat_list{
    width: 30%;
    height: 700px;
    background-color: white;
    top: 0;
    left: 0;
    overflow: auto; 
}

.chat_view{
    width: 70%;
    height: 700px;
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    border-left: 1px solid lightgray;
}

.user_head, .client_head,.input_section{
    width: 100%;
    height: 5vh;
    background-color: #EAEAEA;
}

.users_image {
    width: 30px;
    height: auto;
}

.users_image img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.link_icon{
    color: #B1B1B1;
}

.link_icon:hover{
    color: #009688;
}


.notifications_icon{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #8EDAFC;
    padding: 0.7rem;
    text-align: center;
}


.notifications_banner{
    width: 100%;
    height: 8vh;
    background-color: #8EDAFC;

}

.search_container{
    width: 100%;
    height: 50px;
    background-color: #FAFAFA;
    padding: 1rem;

}

.search_items{
    top:0;
    left: 0;
}

.search_icon{
    top: 8px;
    left: 10px;

}
.form-control{
    border: 1px solid transparent;
}

.single_user{
    width: 100%;
    height: 70px;
    background-color: white;
    border-top: .5px solid lightgray;
}

.single_user:hover{
    background-color: lightgrey;
}

.messages_container{
    padding: 1.5rem 2rem;
    overflow-y: scroll;
    height: calc(100% - 10vh);
}


.message{
    padding: 1rem;
    border-radius: 10px;
    width: auto;
    margin: 10px 0;
}

.sent{
    background-color: #D5F9BA;
    clear: both;
    float: right;
}

.received{
    background-color: white;
    clear: both;
    float: left;
}

