
header{
    position: relative;
}

.wall_header {
    width: 100%;
    height: 10vh;
    background-color: #009688;
}

.wall{
    background-color: #DADBD3;
    width: 100%;
    height: 90vh;
}

.main_container{
    width: 80vw;
    height: 700px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.chat_list{
    width: 30%;
    height: 700px;
    background-color: beige;
    position: absolute;
    top: 0;
    left: 0;   
}

.chat_view{
    width: 70%;
    height: 700px;
    background-color: burlywood;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid lightgray;
}

.user_head, .client_head{
    width: 100%;
    height: 5vh;
    background-color: #EAEAEA;
}

.link_icon{
    padding: .5rem;
    color: #B1B1B1;
}